.App {
  text-align: center;

}

.list{
  background-color: #ccc;
  border: 1px solid #696969;
  margin-top: 5px;
  text-align: center;
}

.ul {
  list-style-type: none;
  display: inline-block;
  padding: 0PX;
}
